{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}
	Stan Magazynowy
{% endblock %}
{% block content_title %}	Stan Magazynowy	{% endblock %}

{% block main %}

	<table class="table table-bordered table-stripped" id="sortTable">
		<thead>
			<tr>
				<th>Lp.</th>
				<th>Magazyn</th>
				<th>Artykuł</th>
				<th>Ilość</th>
				<th>Cena netto [zł]</th>
				<th>VAT [%]</th>
			</tr>
		</thead>
		<tbody>
        {% for key, material in materials %}
			<tr>
				<td>{{ key + 1 }}</td>
				<td>{{ material.warehouseName }}</td>
				<td>{{ material.article }}</td>
				<td>{{ material.amount }} {{ material.unit}} </td>
				<td>{{ material.price }}</td>
				<td>{{ material.vat * 100 }}</td>
			</tr>
        {% endfor %}
		</tbody>
	</head>
</table>
<script>
$('#sortTable').DataTable();
</script>
{% endblock %}
